:root{
    --theme1-1 : #fae7fb;
    --theme1-2: #f2dddc;
    --theme1-3:#F6BCBA;
    --theme1-4:#E3AADD;
    --theme1-5: #C8A8E9;
    --theme1-6: #C3C7F4;

    --main-font-size :40px;

    --second-font: "Parkinsans", sans-serif;
}
body{
    background-image: url(./images/blob-haikei\ \(1\).svg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--theme1-1);
}
h1{
    text-align: center;
    font-family: "Bitcount Prop Double Ink", system-ui;
    font-size: var(--main-font-size);
    color: black;
}
.container{
    justify-items: center;
}
#main-background{
    width: 40%;
    height: 550px ;
    background-color: var(--theme1-2);
    border-radius: 30px;
    padding: 20px 40px;
    overflow:auto;
    text-align: center;
}
#input{
    height: 26px;
    width: 70%;
    border-radius: 15px;
    border: none;
}
#input:focus{
    border: none;  
}
#add{
    position: relative;
    height: 30px;
    top: 8px;
}

.decorated_task {
    background-color:var(--theme1-3) ;
    padding: 10px 15px;
    font-family: var(--second-font);
    border-radius: 20px;
    color: white;
}
